.home-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% auto 25%;

  .home-content {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 24px;
    padding: 0 10% !important;
    background-color: #18191a;
  }

  &.mobile {
    grid-template-columns: auto;
    .home-content {
      padding: 0 16px !important;
    }
  }
}
