.contact-container {
  display: grid;
  gap: 12px;

  .content-contact {
    display: grid;
    gap: 12px;

    .item-contact {
      height: 50px;
      display: flex;
      justify-content: space-between;
      gap: 8px;
      align-items: center;
      padding: 8px;
      border-radius: 16px;
      cursor: pointer;

      .item:nth-child(3) {
        margin-left: auto;
        margin-right: 16px;
      }

      .avatar-user {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
      }

      .icon-message {
        color: gray;
        font-size: 20px;
      }

      .icon-message:hover {
        color: #fff;
      }

      &:hover {
        background-color: #ffffff17;
      }
    }
  }

  .button-view-all-inbox {
    font-size: 16px;
    cursor: pointer;
    color: #3652b9;

    &:hover {
      color: #718cec;
    }
  }
}
