.list-post-container {
  display: grid;
  gap: 16px;
  color: #fff;
}

.modal-comment-post {
  .card-detail-post {
    padding: 0 !important;
  }
}

.box-comment-post {
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #242526 !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px;
  height: fit-content;

  &.real {
    border-top: 1px solid rgb(48, 48, 48);
  }

  &.full {
    min-height: 110px;
  }

  &.mini {
    min-height: 50px;
  }
}

.info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.new-post-container {
  display: grid;
  border-radius: 8px;
  width: 100%;
  padding: 12px 16px 10px 16px;
  -webkit-font-smoothing: antialiased;
  color: #fff;

  .input-post {
    display: flex;
    gap: 8px;
    align-items: center;
    .avatar-user {
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 50%;
    }

    .button-input {
      cursor: pointer;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 30px;
      background-color: #3a3b3c;
      padding: 8px 12px;
      font-size: 16px;
      color: rgb(173, 173, 173);

      &:hover {
        background-color: #494a4b;
      }
    }
  }

  .option-post {
    display: grid;

    .option {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgba(252, 252, 252, 0.18);
      }

      .icon-image {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("https://cdn.pagefly.io/images/custom/74AGEvEtBm1699876288030.png");
      }

      .icon-feeling {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("https://cdn.pagefly.io/images/custom/RWOIsUgWGL1699876287200.png");
      }
    }
  }

  hr {
    border-color: rgb(98, 98, 98);
  }
}

.input-comment {
  transition: 0.3s;
  width: 100%;
  background-color: #3a3b3c;
  color: #fff;
  border-color: transparent;
  border: none !important;
  outline: none !important;
  resize: none !important;
  border-radius: 16px;
  padding: 10px;
  position: relative;
  width: 100%;
  // min-width: calc(100% - 160px);

  &.full {
    min-height: 100px;
    height: 100%;
  }

  &.mini {
    min-height: 0px;
  }

  &::placeholder {
    color: #858585;
  }
}

.button-send {
  height: fit-content;
  padding: 8px;
  border-radius: 50%;

  &.disabled {
    opacity: 0.2;
    cursor: no-drop !important;
  }

  &:hover {
    background-color: rgb(56, 56, 56);
  }

  .icon-send {
    width: 25px;
    min-width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &svg {
      fill: red !important;
    }
  }
}

.list-comment {
  display: grid;
  gap: 16px;
}

.wrap-detail-comment {
  display: grid;
  gap: 2px;

  .sub-content-comment {
    font-size: 12px;
    color: #b0b3b8;
  }
}

.control-comment {
  margin-top: 4px;
  display: grid;
  gap: 12px;
  height: fit-content;

  .anticon {
    width: 18px;
    height: 18px;
  }

  .control-delete,
  .control-edit {
    &:hover {
      svg {
        fill: #e4e6eb;
      }
    }

    svg {
      width: 18px;
      height: 18px;
      fill: gray;
    }
  }
}

.detail-comment {
  background-color: #3a3b3c;
  padding: 8px 12px;
  border-radius: 18px;
  color: #e4e6eb;
  overflow-wrap: break-word;

  .owner-name {
    font-size: 13px;
    font-weight: 600;
  }
}

.cancel-edit-comment {
  font-size: 13px;
}

.description {
  overflow-wrap: break-word;
  max-width: calc(100vw - 64px);
}
