.light {
  .input-comment,
  .detail-comment {
    background-color: #adadad4f;
    color: black;
  }

  .button-send:hover {
    background-color: #3838381c;
  }
}

.input-comment {
  transition: 0.3s;
  width: 100%;
  background-color: #3a3b3c;
  color: #fff;
  border-color: transparent;
  border: none !important;
  outline: none !important;
  resize: none !important;
  border-radius: 16px;
  padding: 10px;
  position: relative;
  width: 100%;

  &.full {
    min-height: 100px;
    height: 100%;
  }

  &.mini {
    min-height: 0px;
  }

  &::placeholder {
    color: #858585;
  }
}

.button-send {
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  width: fit-content;

  &.disabled {
    opacity: 0.2;
    cursor: no-drop !important;
  }

  &:hover {
    background-color: rgb(56, 56, 56);
  }

  .icon-send {
    width: 25px;
    min-width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &svg {
      fill: red !important;
    }
  }
}

.list-comment {
  display: grid;
  gap: 16px;
}

.wrap-detail-comment {
  display: grid;
  gap: 2px;

  .sub-content-comment {
    font-size: 12px;
    color: #b0b3b8;
    min-width: fit-content;
  }
}

.control-comment {
  min-width: 25px;
  margin-top: 4px;
  display: grid;
  gap: 12px;
  height: fit-content;

  .anticon {
    width: 18px;
    height: 18px;
  }

  .control-delete,
  .control-edit {
    &:hover {
      svg {
        fill: #e4e6eb;
      }
    }

    svg {
      width: 18px;
      height: 18px;
      fill: gray;
    }
  }
}

.detail-comment {
  width: 100%;
  background-color: #3a3b3c;
  padding: 8px;
  border-radius: 16px;
  color: #e4e6eb;
  overflow-wrap: break-word;

  .owner-name {
    font-size: 13px;
    font-weight: 600;
  }
}

.cancel-edit-comment {
  font-size: 13px;
}

.description {
  overflow-wrap: break-word;
  max-width: calc(100vw - 64px);
}

.modal-create-post {
  color: #fff !important;
  position: relative;
  background-color: #242526;
  min-height: 500px;
  overflow-y: scroll;

  .ant-modal-content {
    max-height: calc(100vh - 60px);
  }
}

.light {
  .input-content-post {
    color: black !important;
  }
}

.dark {
  .container-upload-image {
    color: #fff !important;
  }
}
