.new-post-container {
  display: grid;
  background-color: #454545ba;
  border-radius: 8px;
  width: 100%;
  padding: 12px 16px 10px 16px;
  -webkit-font-smoothing: antialiased;

  .input-post {
    display: flex;
    gap: 8px;
    align-items: center;
    .avatar-user {
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 50%;
    }

    .button-input {
      cursor: pointer;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 30px;
      background-color: rgb(85 85 85);
      padding: 8px 12px;
      font-size: 16px;
      color: rgb(203, 204, 206);

      &:hover {
        background-color: rgb(123 123 123);
      }
    }
  }

  .option-post {
    display: grid;

    .option {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgba(252, 252, 252, 0.18);
      }

      .icon-image {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("https://cdn.pagefly.io/images/custom/74AGEvEtBm1699876288030.png");
      }

      .icon-feeling {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url("https://cdn.pagefly.io/images/custom/RWOIsUgWGL1699876287200.png");
      }
    }
  }

  hr {
    border-color: rgb(98, 98, 98);
  }
}

.modal-create-post {
  color: #fff;

  .ant-modal-content {
    background-color: #5a4e5a;
  }

  .ant-modal-title {
    background-color: #5a4e5a;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  .btn-create-post {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    outline: none;
    background-color: #a7a7a763;
    cursor: no-drop;
    border: none;
    outline: none;
    color: #b9b9b9;

    &.enable {
      cursor: pointer;
      color: #fff !important;
      background-color: #1677ff;
    }
  }

  .input-content-post {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #fff;
    height: 150px;
    font-size: 16px;

    &::placeholder {
      color: rgb(197, 197, 197);
    }
  }

  .container-upload-image {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    opacity: 0.4;
    transition: 0.2s;
    cursor: pointer;
    margin: 0 !important;

    &:hover {
      opacity: 1;
    }

    .upload-image {
      background-image: url("https://cdn.pagefly.io/images/custom/download1699887263540.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      margin: 0 !important;
    }
  }

  .image-preview {
    min-height: 100px;
    display: flex;
    justify-content: center;
    background-color: #b1b1b130;
    border-radius: 8px;
    margin: auto;
    padding: 16px;
    position: relative;
    align-items: center;
    position: relative;

    .icon-clear-image {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 30px;
      cursor: pointer;
      color: rgb(183, 183, 183);

      &:hover {
        color: #fff;
      }
    }

    .loading-upload-image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      background-color: #cecece17;
      border-radius: 8px;
    }
  }
}

.anticon-close {
  padding: 10px;
  background-color: #7e7e7e8a;
  border-radius: 50%;
  svg {
    fill: #fff;
  }
}
